<table class="table table-bordered table-hover" id="flightgrid_<%- grid_index++ %>">
  <thead>
    <tr>
      <td>Airline</td>
      <td>Flight No.</td>
      <td>Departure</td>
      <td>Arrival</td>
      <td>Price</td>
    </tr>
  </thead>
  <tbody></tbody>
</table>
